{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "jsxBracketSameLine": true,
    "endOfLine": "lf",
    "maxEmptyLines": 2,
    "tabWidth": 4
}
