#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(34, 17, 17);
  color: #fff;
  box-sizing: border-box;
}

.singleCard{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    border: 1px solid aqua;
    border-radius: 5px;
    margin-bottom: 5px;
    gap: 10%;
}
.iconContainer-del {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    bottom: 10px;
  }
  .icon-del:hover{
    color: rgb(244, 134, 134) !important;
  }
button{
    margin-bottom:40px;
}
button:hover{
    background-color: aqua;
}
.addingTask {
    display: flex;
    flex-direction: column;
}
